services:
  content-alchemist:
    container_name: content-alchemist
    image: content-alchemist:latest
    build:
      context: .
      args:
        APP_VERSION: ${APP_VERSION}
    env_file:
      - .env
    ports:
      - "${API_PORT:-9111}:${API_PORT:-9111}"
    networks:
      think-root-network:
        mac_address: 02:42:ac:13:00:09

networks:
  think-root-network:
    external: true