services:
  content-alchemist:
    container_name: content-alchemist
    image: content-alchemist:latest
    build:
      context: .
      args:
        APP_VERSION: ${APP_VERSION}
    env_file:
      - .env
    environment:
      - SQLITE_DB_PATH=data/content-alchemist.db
    ports:
      - "${API_PORT:-9111}:${API_PORT:-9111}"
    volumes:
      - ~/sqlite_db:/app/data
    networks:
      - think-root-network

networks:
  think-root-network:
    external: true